*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #131313;
    color: rgb(212, 212, 212);
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 800px;
    width: 600px;

    border: 1px solid gray;
    border-radius: 30px;
    background-color: #161616;
}